*{
	font-family: sans-serif;

}
html {
	background-color: white;
	height: 100%;
}
html.body{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
body{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.header{
	padding: 40px;
	text-align: left;
	background: #BE1622;
	color: white;
	font-family: sans-serif;
}
.topnav {
	overflow: hidden;
	float: right;
	height: 70px;
	position: static;

}
nav.topnav{
	height: 30px;
}
.topnav a{
	float: left;
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a.active {
	color: white;
	background-color: #BE1622;

}
.topnav .icon {
	display: none;
}
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

div.content{
	padding-left: 16px;
}
.content{
	max-width: 600px;
	margin: auto;
	text-align: justify;
}
footer{
	display: flex;
	background-color:#34516C;
	position: relative;
	justify-content: space-between;
}
.footer {
	padding: 20px;
	background: #34516C;
	color: white;
	font-family: sans-serif;
	position: sticky;
}
footer>div{
	display: flex;
	justify-content: center;

}
.col-1{
	padding-right: 80px;

	align-content: start;

}
.col-2{
	padding-right: 50px;
	padding-left: 150px;

	align-content: center;
}
.col-3{
	align-content: end;
	float: right;
	padding-left: 150px;
}


.footer div h3{
	margin-bottom: 30px;
	letter-spacing: 1px;
}


ul{
	list-style-type: none;
	float: right;
}
li a{
	text-decoration: none;
	background-color: aliceblue;
}

h1{
	text-align: justify-all;
	font-family: sans-serif;
	color: orange;
}

p{
	display: flex;
	text-align: center;
	font-family: sans-serif;
}
.header img {
  float: left;
  width: 244px;
  height: 80px;
}
.heading{
	float: right;
	height: 20px;
	width: 100px;
}
a{
	display: inline;
	padding: 1em;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	
}

#first, #second, #third{
	text-align: justify;
}
h1.h1{
	text-align: center;
	color: #34516C;
}

